<div>
    <select class="custom-select col-md-2" (change)="getDetails($event.target.value)">
        <option [value]="option.toUpperCase()" *ngFor="let option of options">{{option}}</option>
    </select>
    <input class="custom-search col-md-4" type="text" placeholder="Search" (keyup)="filterName($event.target.value)" />
</div>
<div class="table-box">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>BANK NAME</th>
                <th>BANK ID</th>
                <th>BRANCH</th>
                <th>IFSC CODE</th>
                <th>ADDRESS</th>
                <th>CITY</th>
                <th>DISTRICT</th>
                <th>STATE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of banklist">
                <td>{{list.bank_name}}</td>
                <td>{{list.bank_id}}</td>
                <td>{{list.branch}}</td>
                <td>{{list.ifsc}}</td>
                <td>{{list.address}}</td>
                <td>{{list.city}}</td>
                <td>{{list.district}}</td>
                <td>{{list.state}}</td>
            </tr>
        </tbody>
    </table>
</div>