/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
}

.table-box {
    width: 100%;
    overflow-x: scroll;
}

.table>thead>tr>th {
    background: #EEE;
    min-width: 80px;
}

.custom-select,
.custom-search {
    height: 40px;
    border-radius: 6px;
    outline: 0;
    background: #ffffff;
    color: lightslategrey;
    border: 2px solid lightslategrey;
    margin: 0 20px 20px 0;
}

.custom-search::placeholder {
    color: lightslategrey;
}